<section id="ngx-datatables-server-side">
	<div class="row">
		<div class="col-12 mt-2">
			<h4>{{'DRIVERS'|translate}}</h4>
		</div>
	</div>
	<!-- Filter starts -->
	<div class="row">
		<div class="col-12">
			<div class="users-list-filter px-2">
			<form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
				<div class="row border rounded py-2 mb-2 mx-n2">

					<div class="col-12 col-sm-6 col-lg-4">
						<label for="users-list-verified">{{'DRIVERS'|translate}}</label>
						<fieldset class="form-group">
							<ng-select [items]="drivers$ | async"  bindLabel="fullName" bindValue="id"
								formControlName="driverId">
							</ng-select>
						</fieldset>
					</div>

          <div class="col-12 col-sm-6 col-md-4">
            <div class="form-group">
              <label for="passengersInfo">{{'FULL_NAME'|translate}}<span class="required-field">*</span></label>
              <div class="controls">
                <input type="text" formControlName="fullName" class="form-control" required>
              </div>
            </div>
          </div>

          <div class='col-12 col-sm-6 col-md-2'>
            <div class="form-group">
              <label class="form-control-label" for="requestDate">{{'LICENSE_EXPIRY_DATE'|translate}}
                <span class="required-field">*</span>
              </label>
              <div class="input-group">
                <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="licenseExpiryDate.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
                </div>
                <input class="form-control" name="licenseExpiryDate" formControlName="licenseExpiryDate" ngbDatepicker
                  id="requestDate" #licenseExpiryDate="ngbDatepicker" >
              </div>
            </div>
          </div>


					<div class="col-12 col-sm-6 col-lg-2 d-flex align-items-center">
						<button type="submit" class="btn btn-primary btn-block users-list-clear">
							{{'SEARCH'|translate}}
						</button>&nbsp;
						<button type="reset" class="btn btn-warning btn-block users-list-clear" style="margin-top:initial" (click)="resetFilters()">
							{{'CLEAR'|translate}}
						</button>
					</div>
				</div>
			</form>
			</div>
		</div>
	</div>
	<!-- Filter ends -->
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<button type="button" class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right" (click)="reload()">
					<i class="ft ft-refresh-cw"></i>
					</button>
					<button type="button" class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right" title="Add Profile"
					[disabled]="loading" (click)="addNewRecord()">
					<i class="ft ft-plus"></i>
					</button>
					<!--
            <div class="col-md-3 col-3">
              <div class="form-group">
                <select #pageLength class="form-control" (change)="setPageLength(pageLength.value)">
                <option *ngFor=" let pl of pageLengths" [selected]="20">
                  {{ pl.count }} {{ 'RECORDS' | translate }}
                </option>
                <option value="-1">{{ 'ALL' | translate }}</option>
                </select>
              </div>
			   		</div>
            -->
				</div>
				<div class="card-content">
					<div class="card-body">
					<ng-container *ngIf="tableOptions">
						<ngx-datatable #table class="bootstrap core-bootstrap" [rows]="rows" [columns]="columns" [virtualization]="false"
							[columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="tableOptions.length"
							[loadingIndicator]="dataLoadingFlag" [scrollbarH]="true" (page)="setPage($event)" [reorderable]="reorderable" [swapColumns]="swapColumns"
							[externalPaging]="true" [externalSorting]="true" [count]="recordsTotal" [offset]="tableOptions.draw"
							[sorts]="[{prop: 'ID', dir: 'desc'}]" (sort)="onSort($event)">
								<ngx-datatable-column name="{{'ACTIONS'|translate}}" [width]="70" [sortable]="false">
									<ng-template let-row="row" ngx-datatable-cell-template>
                    <i class="ft-eye text-primary cursor-pointer mr-2" [routerLink]="['/transport/drivers/' + row.ID]"></i>
									<i class="ft-edit text-primary cursor-pointer" [routerLink]="['/transport/drivers/' + row.ID + '/edit']"></i>
									</ng-template>
								</ngx-datatable-column>
								<ngx-datatable-column name="{{'ID'|translate}}" prop="ID" [width]="100"></ngx-datatable-column>
								<ngx-datatable-column name="{{'FULL_NAME'|translate}}" prop="FULL_NAME" [width]="100"></ngx-datatable-column>
								<ngx-datatable-column name="{{'FATHER_NAME'|translate}}" prop="FATHER_NAME" [width]="100"></ngx-datatable-column>
								<ngx-datatable-column name="{{'‌ّBIRTH_DATE'|translate}}" prop="‌ّBIRTH_DATE" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.BIRTH_DATE | date: 'yyyy-MM-dd'|jalali}}
                  </ng-template>
                </ngx-datatable-column>
								<ngx-datatable-column name="{{'LICENSE_ISSUE_DATE'|translate}}" prop="LICENSE_ISSUE_DATE" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.LICENSE_ISSUE_DATE | date: 'yyyy-MM-dd'|jalali}}
                  </ng-template>
                </ngx-datatable-column>
								<ngx-datatable-column name="{{'LICENSE_EXPIRY_DATE'|translate}}" prop="LICENSE_EXPIRY_DATE" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.LICENSE_EXPIRY_DATE | date: 'yyyy-MM-dd'|jalali}}
                  </ng-template>
                </ngx-datatable-column>
								<ngx-datatable-column name="{{'LICENSE_CLASS'|translate}}" prop="LICENSE_CLASS" [width]="100"></ngx-datatable-column>
								<ngx-datatable-column name="{{'CREATED_BY'|translate}}" prop="CREATED_BY"></ngx-datatable-column>
							<!--
                 <ngx-datatable-column name="ID" prop="ID" [width]="150"></ngx-datatable-column>
                    <ngx-datatable-column name="documentTypeName" prop="documentTypeName" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="document_Date" prop="document_Date" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="Actions" [width]="50">
									<ng-template let-row="row" ngx-datatable-cell-template>
										<button  (click)="editRecord(row.id)"><i class="ft-edit text-primary cursor-pointer"></i></button>
									</ng-template>
							   </ngx-datatable-column>
              -->
						</ngx-datatable>
					</ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<ngx-spinner class="loader" bdOpacity=0.3 bdColor="#f4f4f9" size="large" color="#b416f7" type="ball-spin-clockwise-fade"
[fullScreen]="true">
</ngx-spinner>
