<section id="ngx-datatables-server-side">
    <div class="row">
        <div class="col-12 mt-2">
            <h4>{{ 'PURSUIT_LIST'|translate }}</h4>
        </div>
    </div>
    <!-- Filter starts -->
    <div id="filters" class="filter-collapse" [ngbCollapse]="isCollapsed">
        <div class="row">
            <div class="col-12">
                <div class="users-list-filter px-2">
                    <form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
                        <div class="row border rounded py-2 mb-2 mx-n2">
                            <div class="col-12 col-sm-6 col-lg-2">
                                <label for="users-list-role">{{'ID'|translate}}</label>
                                <fieldset class="form-group">
                                    <input type="text" class="form-control" formControlName="id" />
                                </fieldset>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-2">
                                <label for="users-list-role">{{'DOCUMENT_NO'|translate}}</label>
                                <fieldset class="form-group">
                                    <input type="text" class="form-control" formControlName="document_no" />
                                </fieldset>
                            </div>

                            <div class="col-12 col-sm-6 col-lg-2 d-flex align-items-center">
                                <button type="submit" class="btn btn-primary btn-block users-list-clear">
                                    {{'SEARCH'|translate}}
                                </button>&nbsp;
                                <button type="reset" class="btn btn-warning btn-block users-list-clear"
                                    style="margin-top:initial" (click)="resetFilters()">
                                    {{'CLEAR'|translate}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter ends -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right"
                        (click)="reload()">
                        <i class="ft ft-refresh-cw"></i>
                    </button>
                    <button type="button" class="btn btn-outline-warning btn-icon round mr-1 mb-1 pull-right"
                        (click)="toggleFilters()" [attr.aria-expanded]="!isCollapsed" aria-controls="filters">
                        <i class="ft ft-filter"></i>
                    </button>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <ng-container *ngIf="tableOptions">
                            <ngx-datatable #table class="bootstrap core-bootstrap" [rows]="rows" [columns]="columns"
                                [virtualization]="false" [columnMode]="ColumnMode.force" [headerHeight]="50"
                                [footerHeight]="50" rowHeight="auto" [limit]="tableOptions.length"
                                [loadingIndicator]="dataLoadingFlag" [scrollbarH]="true" (page)="setPage($event)"
                                [reorderable]="reorderable" [swapColumns]="swapColumns" [externalPaging]="true"
                                [externalSorting]="true" [count]="recordsTotal" [offset]="tableOptions.draw"
                                [sorts]="[{prop: 'ID', dir: 'desc'}]" (sort)="onSort($event)">
                                <ngx-datatable-column name="{{'ACTIONS'|translate}}" [width]="120" [sortable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <button type="button"
                                            class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right"
                                            [routerLink]="['/doc_mng/documents/my/' + row.ID + '/followups']">
                                            <i class="ft ft-eye"></i>
                                        </button>
                                        <button type="button"
                                            class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right"
                                            (click)="viewContent(row.SUMMARY)">
                                            <i class="ft ft-info"></i>
                                        </button>
                                        <!-- <i class="ft-eye text-primary cursor-pointer mr-2" [routerLink]="['/doc_mng/documents/' + row.ID]"></i> -->
                                        <!-- <i class="ft-edit text-primary cursor-pointer" [routerLink]="['/doc_mng/documents/' + row.ID + '/edit']"></i> -->
                                    </ng-template>
                                </ngx-datatable-column>
                                <!-- <ngx-datatable-column name="{{'STATUS'|translate}}" [width]="180" [sortable]="true">
									<ng-template let-row="row" ngx-datatable-cell-template>
										<div class="badge badge-pill" [ngClass]="{'bg-light-success':row.STATUS == 'FINAL', 'bg-light-danger':row.STATUS == 'REJECTED' , 'bg-light-warning':row.STATUS == 'DRAFT' }">
											{{ row['STATUS'] }}
										</div>
									</ng-template>
								</ngx-datatable-column> -->
                                <ngx-datatable-column name="{{'ID'|translate}}" prop="ID" [width]="100">
                                </ngx-datatable-column>
                                <ngx-datatable-column name="{{'DOCUMENT_TYPE'|translate}}" prop="DOCUMENT_TYPE">
                                </ngx-datatable-column>
                                <ngx-datatable-column name="{{'DOCUMENT_NO'|translate}}" prop="DOCUMENT_NO">
                                </ngx-datatable-column>
                                <ngx-datatable-column name="{{'DOCUMENT_DATE'|translate }}" prop="DOCUMENT_DATE">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.DOCUMENT_DATE | date: 'yyyy-MM-dd'|jalali}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="{{'DOCUMENT_STATUS'|translate}}" [width]="180"
                                    [sortable]="true">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <div class="badge badge-pill"
                                            [ngClass]="{'bg-light-danger':row.DOCUMENT_STATUS_ID == 1 , 'bg-light-warning':row.DOCUMENT_STATUS_ID == 2, 'bg-light-success':row.DOCUMENT_STATUS_ID == 3}">
                                            {{ row['DOCUMENT_STATUS'] }}
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="{{'DUE_DATE'|translate }}" prop="DUE_DATE">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.DUE_DATE | date: 'yyyy-MM-dd'|jalali}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="{{'REMAINING_PASSED_TIME'|translate}}" [width]="180"
                                    [sortable]="true">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <div class="badge badge-pill"
                                            [ngClass]="{'bg-light-success':row.DUE_DAYS > 0, 'bg-light-danger':row.DUE_DAYS < 0 , 'bg-light-warning':row.STATUS == 0 }">
                                            {{ row['DUE_DAYS'] }} {{ 'DAY'|translate }}
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="{{'PRIORITY_TYPE'|translate}}" prop="PRIORITY_TYPE">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.PRIORITY_TYPE|translate }}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="{{'SECURITY_LEVEL'|translate}}" prop="SECURITY_LEVEL">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.SECURITY_LEVEL|translate }}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="{{'FROM_ENTITY'|translate}}" prop="FROM_DEPARTMENT">
                                </ngx-datatable-column>
                                <ngx-datatable-column name="{{'TO_DEPARTMENT'|translate}}" prop="TO_DEPARTMENT">
                                </ngx-datatable-column>
                                <ngx-datatable-column name="{{'DOCUMENT_TITLE'|translate}}" prop="TITLE"></ngx-datatable-column>
                                <ngx-datatable-column name="{{'CREATED_AT'|translate }}" prop="CREATED_AT">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.CREATED_AT | date: 'yyyy-MM-dd'|jalali}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="{{'CREATED_BY'|translate}}" prop="CREATED_BY">
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ngx-spinner class="loader" bdOpacity=0.3 bdColor="#f4f4f9" size="large" color="#b416f7" type="ball-spin-clockwise-fade"
    [fullScreen]="true">
</ngx-spinner>