<div class="modal-header">
    <h4 class="modal-title"> {{ 'EXCEL_UPLOAD'|translate }} </h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    <!-- <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">x</button> -->
</div>
<form [formGroup]="newForm" id="excelUploadForm" (ngSubmit)="submitForm()">
    <div class="modal-body taskboard-modal">
        <div class="container">
            <div class="form-group">
                <label class="sr-only" for="hidden-label-form-1">{{ 'SELECT_EXCEL_FILE'|translate }}</label>
                <input type="file" id="hidden-label-form-1" class="form-control round" formControlName="file" (change)="onFileChange($event)">
            </div>
            
        </div>
    </div>
    <div class="modal-footer taskboard-modal-footer">
        <a class="btn btn-warning btn-save" (click)="excelTemplate()">{{ 'EXCEL_TEMPLATE'|translate }}</a>
        <button class="btn btn-primary btn-save">{{ 'UPLOAD'|translate }}</button>
        <button class="btn btn-secondary btn-fill" (click)="closeModal()" type="button">{{ 'CANCEL' | translate }}</button>
    </div>
</form>
