<div class="row">
  <div class="col-12">
    <div class="content-header">{{'CREATE_VISIT'|translate}}</div>
  </div>
</div>
<section id="basic-input" id="newForm">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-content">
					<div class="card-body">
						<form [formGroup]="newForm" (ngSubmit)="onSubmit()">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<h5>{{ 'VISIT_INFO'|translate }}</h5>
									</div>
								</div>
								<div class="col-12 col-sm-12 col-md-12">
									<div class="row">
										<div class="col-sm-12 col-md-6">
											<div class="form-group">
												<label for="users-list-role">{{'HOST_DEPARTMENT'|translate}}<span class="required-field">*</span></label>
												<ng-select [items]="departments$ | async" bindLabel="name" bindValue="id"
                                                    formControlName="hostDepartment">
                                                </ng-select>
                                                <small *ngIf="getError('hostDepartment') as error" class="text-danger">{{ error }}</small>
											</div>
										</div>
										<div class="col-sm-12 col-md-6">
											<div class="form-group">
											<label for="users-list-role">{{'HOST'|translate}}</label>
											<ng-select [items]="profiles$ | async" bindValue="id" [minTermLength]="2"
												typeToSearchText="Please enter 2 or more characters" [typeahead]="profileInput$" >
												<ng-template ng-header-tmp>
													<tr class="d-flex">
														<th class="col">{{ "FIRST_NAME" | translate }}</th>
														<th class="col">{{ "LAST_NAME" | translate }}</th>
														<th class="col">{{ "FATHER_NAME" | translate }}</th>
													</tr>
												</ng-template>
												<ng-template ng-label-tmp let-item="item">
													<tr class="d-flex">
														<td class="col">{{item.firstName}}</td>
														<td class="col">{{item.lastName}}</td>
														<td class="col">{{ item.fatherName}}</td>
													</tr>
												</ng-template>
												<ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
												<tr class="d-flex">
													<td class="col">{{item.firstName}}</td>
													<td class="col">{{item.lastName}}</td>
													<td class="col">{{ item.fatherName}}</td>
												</tr>
												</ng-template>
											</ng-select>
											</div>
										</div>
										<div class="col-12 col-sm-6 col-md-4">
											<div class="form-group">
												<label for="subject">{{'SUBJECT'|translate}}<span class="required-field">*</span></label>
												<div class="controls">
													<input type="text" formControlName="visitSubject" class="form-control" required>
													<small *ngIf="getError('visitSubject') as error" class="text-danger">{{ error }}</small>
												</div>
											</div>
										</div>
										<div class="col-12 col-sm-6 col-md-4">
											<div class="form-group">
											<label for="visitSource">{{'SOURCE'|translate}}</label>
											<div class="controls">
												<input type="text" formControlName="visitSource" class="form-control">
											</div>
											</div>
										</div>

                    
										<div class='col-12 col-sm-6 col-md-2'>
											<div class="form-group">
												<label class="form-control-label" for="visitDate">{{'VISIT_DATE'|translate}}
													<span class="required-field">*</span>
												</label>
												<div class="input-group">
													<div class="input-group-append">
													<button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
														<i class="fa fa-calendar"></i>
													</button>
													</div>
													<input class="form-control" name="visitDate" formControlName="visitDate" ngbDatepicker
														id="visitDate" #d="ngbDatepicker" >
													<small *ngIf="getError('visitDate') as error" class="text-danger">{{ error }}</small>
												</div>
											</div>
										</div>



										<div class="col-md-2 col-lg-2">
											<div class="form-group">
											<label> {{ 'VISIT_TIME'|translate}}</label>
											<ngb-timepicker formControlName="visitTime" [spinners]="spinners"></ngb-timepicker>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12 col-sm-6 col-md-4">
											<div class="form-group">
												<label for="subject">{{'VISIT_CATEGORY'|translate}}<span class="required-field">*</span></label>
												<div class="controls">
													<ng-select formControlName="visitCategory">
														<ng-option *ngFor="let item of visitCategories$" [value]="item.id">{{ item.name|translate }}</ng-option>
													</ng-select>
												</div>
											</div>
										</div>
										<div class="col-12 col-sm-6 col-md-4">
											<div class="form-group">
												<label for="visitSource">{{'VISIT_TYPE'|translate}}<span class="required-field">*</span></label>
												<div class="controls">
													<ng-select formControlName="visitType">
														<ng-option *ngFor="let item of visitTypes$" [value]="item.id">{{ item.name|translate }}</ng-option>
													</ng-select>
												</div>
											</div>
										</div>
										<div class="col-12 col-sm-6 col-md-4">
											<div class="form-group">
												<label for="visitSource">{{'HAS_VEHICLE'|translate}}<span class="required-field">*</span></label>
												<div class="controls">
													<ul class="list-unstyled mb-0">
														<li class="d-inline-block mr-2">
														  <div class="radio radio-primary">
															<input type="radio" [value]=true id="active" formControlName="hasVehicle" (change)="toggleVehicleInfo()">
															<label class="text-primary" for="active">{{ 'YES'|translate }}</label>
														  </div>
														</li>
														<li class="d-inline-block">
														  <div class="radio radio-danger">
															<input type="radio" [value]=false id="inactive" formControlName="hasVehicle" (change)="toggleVehicleInfo()">
															<label class="text-danger" for="inactive">{{ 'NO'|translate }}</label>
														  </div>
														</li>
													</ul>
												</div>

											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12 col-sm-12">
											<div class="form-group">
												<label>{{'REMARKS'|translate}}</label>
												<div class="controls">
													<textarea rows="2" formControlName="remarks" class="form-control"></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-12">
									<hr>
								</div>

								<div class="row" *ngIf="showVehicleInfo">
									<!-- Vehicle info -->
									<div class="col-12 col-sm-12 col-md-12">
										<div class="row">
											<div class="col-12 col-sm-12">
												<div class="form-group">
													<span class="content-header">{{ 'VEHICLE_INFO'|translate }}</span>
													<button type="button" class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right" title="Add Vehicle"
														(click)="addVehicle()">
														<i class="ft ft-plus"></i>
													</button>
												</div>
											</div>
										</div>
									</div>

									<div class="col-md-12">
										<hr>
									</div>

									<div class="row col-md-12" formArrayName="visitors">
										<div class="col-md-12" *ngFor="let vehicle of vehicles().controls; let vehicleIndex=index">
											<div class="col-2 col-sm-2 col-md-1">
												<div class="form-group">
													<h5>{{ vehicleIndex+1 }}</h5>
													<button type="button" class="btn btn-outline-danger btn-icon round mr-1 mb-1 pull-right" title="Remove Vehicle"
														(click)="removeVehicle(vehicleIndex)">
														<i class="ft ft-trash"></i>
													</button>
												</div>
											</div>
											<visit-create-vehicle-subform [vehicleForm]="vehicle" [index]="vehicleIndex" [formSubmitAttempt]="formSubmitAttempt"></visit-create-vehicle-subform>
										</div>
									</div>
								</div>

								<!-- visitor info -->
								<div class="col-12 col-sm-12 col-md-12">
									<div class="row">
										<div class="col-12 col-sm-12">
											<div class="form-group">
												<span class="content-header">{{ 'VISITOR_INFO'|translate }}</span>
												<button type="button" class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right" title="Add Visitor"
													(click)="addVisitor()">
													<i class="ft ft-plus"></i>
												</button>

												<button type="button" class="btn btn-outline-warning btn-icon round mr-1 mb-1 pull-right" title="Upload Excel"
													(click)="uploadExcel()">
													<i class="ft ft-upload"></i>
												</button>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-12">
									<hr>
								</div>

								<div class="row col-md-12" formArrayName="visitors">
									<div class="col-md-12" *ngFor="let visitor of visitors().controls; let visitorIndex=index">
										<div class="col-2 col-sm-2 col-md-1">
											<div class="form-group">
												<h5>{{ visitorIndex+1 }}</h5>
												<button type="button" class="btn btn-outline-danger btn-icon round mr-1 mb-1 pull-right" title="Remove Visitor"
													(click)="removeVisitor(visitorIndex)">
													<i class="ft ft-trash"></i>
												</button>
											</div>
										</div>
										<visit-create-visitor-subform [visitorForm]="visitor" [index]="visitorIndex" [formSubmitAttempt]="formSubmitAttempt"></visit-create-visitor-subform>
									</div>
								</div>

								<div class="row">
									<div class="col-12 col-sm-12">
										<div class="form-group">
										<button type="submit" class="btn btn-info">
											{{'SAVE'|translate}}
											<span style="margin-left:10px;">
											</span>
										</button>
										<button type="button" class="btn btn-warning mr-1" (click)="cancel()">
											<span style="margin-right:10px;">
											</span> {{'CLOSE'|translate}}</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<ngx-spinner class="loader" bdOpacity=0.3 bdColor="#f4f4f9" size="large" color="#b416f7" type="ball-spin-clockwise-fade" [fullScreen]="true">
</ngx-spinner>
