<div class="modal-header">
  <h4 class="modal-title">{{'DOCUMENT_DETAILS'|translate}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12 col-sm-12" *ngIf="dataLoading">
      <div class="row">
        <div class="col-md-12">
          <h4 class="card-title mb-0">
            {{exec.title}}
            <div class="pull-right">
              <button class="btn btn-outline-danger btn-icon round mr-1 pull-left"
                [title]="'DELETE_EXECUTION' | translate" (click)="deleteExecution(exec.id);"
                *ngIf="documentService.isOwner(exec, authService) && exec?.status != 'FINAL'"><i
                  class="ft-trash-2 cursor-pointer"></i></button>
              <button class="btn btn-outline-warning btn-icon round mr-1 pull-left"
                [title]="'EDIT_EXECUTION' | translate" (click)="editExecution(exec.id);"
                *ngIf="documentService.isOwner(exec, authService) && exec?.status != 'FINAL'"><i
                  class="ft-edit cursor-pointer"></i></button>
              <button class="btn btn-outline-success btn-icon round mr-1 pull-left"
                [title]="'FINALIZE_EXECUTION' | translate" (click)="finalizeExecution(exec);"
                *ngIf="documentService.isOwner(exec, authService) && exec.status != 'FINAL'"><i
                  class="ft-check cursor-pointer"></i></button>
              <button class="btn btn-outline-primary btn-icon round mr-1 pull-left"
                [title]="'ADD_NOTE_HUKM' | translate" (click)="addNoteHukm(exec.id)"
                *ngIf="exec.documentType.id == 8"><i class="ft ft-edit-2 cursor-pointer"></i></button>
              <button class="btn btn-outline-info btn-icon round mr-1 pull-left" [title]="'PRINT_EXECUTION' | translate"
                (click)="printDocumentExecution(exec.id);"><i class="ft ft-printer cursor-pointer"></i></button>

            </div>
          </h4>
          <div class="card-subtitle text-muted mt-0">
            <span class="font-small-3 mb-0">{{ exec.createdBy.name }}</span>
            <span class="badge bg-light-info font-small-3 ml-1 mr-1">{{
                        exec.createdBy?.job?.nameDr }}</span>
            <span class="badge bg-light-secondary font-small-3 ml-1 mr-1">{{
                        exec.createdBy?.department.nameDr }}</span>
            <span class="badge bg-light-secondary font-small-3 ml-1 mr-1">{{
                        exec.createdBy?.entity.nameDr }}</span>
            <span class="font-small-3 pull-right">{{exec.date | jalali }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row col-12 col-sm-6 col-md-6 flex-column">
          <div class="flex-row" *ngIf="exec.documentType?.nameDr">
            <div class="title">{{'EXECUTION_TYPE' | translate }}: </div>
            <div class="description">{{ exec.documentType?.nameDr }}</div>
          </div>
          <div class="flex-row" *ngIf="document?.scope">
            <div class="title" *ngIf="document?.scope == 'EXTERNAL' ">{{'EXTERNAL' |
                        translate }}</div>
            <div class="title" *ngIf="document?.scope == 'INTERNAL' ">{{'INTERNAL' |
                        translate }}</div>
          </div>
          <div class="flex-row" *ngIf="exec.documentNo">
            <div class="title">{{'DOCUMENT_NUMBER' | translate }}: </div>
            <div class="description">{{ exec.documentNo }}
              <span class="badge badge-pill" *ngIf="exec?.status != 'FINAL'"
                [ngClass]="{'bg-light-warning':exec?.status != 'FINAL' }">
                {{ exec?.status|translate }}
              </span>
            </div>
          </div>
          <div class="flex-row" *ngIf="exec.noteType">
            <div class="title">{{'NOTE_SOURCE' | translate }}: </div>
            <div class="description">{{ exec.noteType.nameDr }}
            </div>
          </div>
          <div class="flex-row" *ngIf="exec?.documentDate">
            <div class="title">{{'DOCUMENT_DATE' | translate }}: </div>
            <div class="description">{{ exec?.documentDate | jalali }}</div>
          </div>
          <div class="flex-row" *ngIf="exec?.fromEntity?.nameDr">
            <div class="title">{{'FROM_ENTITY_EXECUTION' | translate }}: </div>
            <div class="description">{{ exec?.fromEntity?.nameDr }}</div>
          </div>
          <div class="flex-row" *ngIf="exec?.fromDepartment?.nameDr">
            <div class="title">{{'FROM_DEPARTMENT_EXECUTION' | translate }}: </div>
            <div class="description">{{ exec?.fromDepartment?.nameDr }}</div>
          </div>
          <div class="flex-row" *ngIf="exec?.toDepartment?.nameDr">
            <div class="title">{{'TO_DEPARTMENT' | translate }}: </div>
            <div class="description">{{ exec?.toDepartment?.nameDr }}</div>
          </div>
          <div class="flex-row" *ngIf="exec?.ccDepartments && exec?.ccDepartments.length > 0">
            <div class="title">{{'CC_DEPARTMENTS' | translate }}: </div>
            <div class="description" *ngFor="let ccDepartment of exec?.ccDepartments; let last = last">{{
                        ccDepartment?.nameDr }}<ng-container *ngIf="!last">,</ng-container>
            </div>
          </div>
          <div class="flex-row" *ngIf="exec.attachment">
            <div class="title">{{'ATTACHMENT' | translate }}: </div>
            <div class="description" (click)="downloadExecutionAttachment(exec.id)">
              {{ 'DOWNLOAD' | translate }}
              <i class="ft ft-download text-primary cursor-pointer"></i>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 flex-column" style="margin-bottom: 10px;">
          <div class="flex-row">
            <div class="snapshot text-center">
              <!-- <img [src]="webcamImage.imageAsDataUrl" class="photo users-avatar-shadow rounded" /> -->
              <img #qrcode [src]="'api/public/documents/' + exec.id + '/genQRCode/250/250'"
                (error)="imageError($event.target)" alt="Avatar" id="imageId" class="rounded">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 flex-column">
          <hr style="width: 100%; border: 1px solid rgba(0, 0, 0, 0.097);" />
          <div class="flex-row" *ngIf="exec?.title">
            <div class="title">{{'DOCUMENT_TITLE' | translate }}: </div>
            <div class="description">{{ exec?.title }}</div>
          </div>
          <div class="flex-row" *ngIf="exec?.content">
            <div class="title">{{'CONTENT' | translate }}: </div>
            <div class="description" [innerHTML]="exec?.content"></div>
          </div>
        </div>
      </div>

      <div class="col-12 flex-column" style="margin-bottom: 10px;"
        *ngFor="let noteSection of exec?.noteSections; index as noteIndex">
        <div class="flex-row">
          <div class="title">{{'TITLE_NOTE' | translate }}: </div>
          <div class="description">{{ noteSection?.title }}</div>
        </div>
        <div class="flex-row">
          <div class="title">{{'CONTENT' | translate }}: </div>
          <div class="col-11 description" [innerHTML]="noteSection?.content"></div>
        </div>
      </div>
      <hr *ngIf="exec?.huKmcontent">
      <div class="row">
        <div class="flex-row" *ngIf="exec?.huKmcontent">
          <div class="title">{{'ADD_NOTE_HUKM' | translate }}: </div>
          <div class="description" [innerHTML]="exec?.huKmcontent"></div>
        </div>
      </div>

      <div class="col-12 flex-column" style="margin-bottom: 10px;" *ngIf="exec?.reviews && exec?.reviews.length > 0">
        <hr style="width: 100%; border: 1px solid rgba(0, 0, 0, 0.097);" />
        <div class="flex-row">
          <div class="title">{{'REVIEWERS' | translate }}</div>
        </div>
        <div class="mb-3" *ngFor="let review of exec?.reviews; index as reviewIndex">
          {{ reviewIndex+1 }}.
          <span class="text-bold-600 mb-0">{{ review.reviewer?.name }}</span>
          <span class="badge bg-light-info font-small-3 ml-1 mr-1">{{
                                        review.reviewer?.job?.nameDr }}</span>
          <span class="badge bg-light-secondary font-small-3 ml-1 mr-1">{{
                                        review.reviewer?.department.nameDr }}</span>
          <span class="badge bg-light-secondary font-small-3 ml-1 mr-1">{{
                                        review.reviewer?.entity.nameDr }}</span>

          <ng-container *ngIf="review.decision!= null && review.decision.length>1">
            <span class="badge mb-1 mr-1"
              [ngClass]="review.decision=='APPROVED' ? 'bg-light-success' : 'bg-light-danger'">{{
                                            review.decision|translate }}</span>
            <p>{{review.comment}}</p>
          </ng-container>
          <ng-container *ngIf="review.decision== null || review.decision.length<1">
            <span class="btn badge bg-light-success mb-1 mr-1" *ngIf="currentUserId == review?.reviewer.id"
              (click)="approveReview(review.id, exec.id)"><i class="ft-thumbs-up"></i></span>
            <span class="btn badge bg-light-danger mb-1 mr-1" *ngIf="currentUserId == review?.reviewer.id"
              (click)="rejectReview(review.id, exec.id)"><i class="ft-thumbs-down"></i></span>
          </ng-container>
          <ng-container *ngIf="review.decision!= null && review.decision=='REJECTED'">
            <span class="btn badge bg-light-primary mb-1 mr-1" *ngIf="currentUserId == exec?.createdBy.id"
              (click)="resetReview(review.id, exec.id)"><i class="ft ft-corner-up-left"></i></span>
          </ng-container>
        </div>
      </div>

      <div class="col-12 flex-column" style="margin-bottom: 10px;" *ngIf="exec?.receives && exec?.receives.length > 0">
        <hr style="width: 100%; border: 1px solid rgba(0, 0, 0, 0.097);" />
        <div class="flex-row">
          <div class="title">{{'DOC_RECEIVERS' | translate }}</div>
        </div>
        <div class="mb-3" *ngFor="let receive of exec?.receives; index as receiveIndex">
          {{ receiveIndex+1 }}.
          <span class="text-bold-600 mb-0">{{ receive.department?.nameDr }}</span>
          <span class="text-bold-600 mb-0">{{ receive.receiver?.name }}</span>
          <span class="badge bg-light-info font-small-3 ml-1 mr-1">{{
                                        receive.receiver?.job?.nameDr }}</span>
          <span class="badge bg-light-secondary font-small-3 ml-1 mr-1">{{
                                        receive.receiver?.department.nameDr }}</span>
          <span class="badge bg-light-secondary font-small-3 ml-1 mr-1">{{
                                        receive.receiver?.entity.nameDr }}</span>

          <span class="badge mb-1 mr-1"
            [ngClass]="{'bg-light-success':receive.decision == 'RECEIVED', 'bg-light-danger':receive.decision == 'REJECTED' , 'bg-light-warning':receive.decision == 'PENDING' }">{{
                                        receive.decision|translate }}</span>
          <ng-container
            *ngIf="exec?.status == 'FINAL' && receive.decision=='PENDING' && documentService.isReceiver(receive, authService)">
            <span class="btn badge bg-light-success mb-1 mr-1"
              (click)="receiveExecution(exec.id, receive.id, 'RECEIVED')"><i class="ft ft-check"></i></span>
            <span class="btn badge bg-light-danger mb-1 mr-1"
              (click)="receiveExecution(exec.id, receive.id, 'REJECTED')"><i class="ft ft-x"></i></span>
          </ng-container>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" (click)="closeModal()">{{ 'CLOSE' | translate }}</button>
</div>
