<section id="ngx-datatables-server-side">
	<div class="row">
		<div class="col-12 mt-2">
			<h4>{{'VEHICLES'|translate}}</h4>
		</div>
	</div>
	<!-- Filter starts -->
	<div class="row">
		<div class="col-12">
			<div class="users-list-filter px-2">
			<form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
				<div class="row border rounded py-2 mb-2 mx-n2">
					<div class="col-12 col-sm-6 col-lg-4">
						<label for="users-list-verified">{{'HOST_DEPARTMENT'|translate}}</label>
						<fieldset class="form-group">
							<ng-select [items]="departments$ | async" bindLabel="name" bindValue="id"
								formControlName="host_department">
							</ng-select>
						</fieldset>
					</div>

					<div class="col-12 col-sm-6 col-lg-2">
						<label for="users-list-role">{{'SUBJECT'|translate}}</label>
						<fieldset class="form-group">
							<input type="text" class="form-control" formControlName="visit_subject"/>
						</fieldset>
					</div>
					<div class="col-12 col-sm-6 col-lg-2">
						<label for="users-list-status">{{'SOURCE'|translate}}</label>
						<fieldset class="form-group">
							<input type="text" class="form-control"  formControlName="visit_source"/>
						</fieldset>
					</div>
					<!-- <div class="col-12 col-sm-6 col-lg-2">
						<label for="users-list-status">{{'VISIT_DATE'|translate}}</label>
						<fieldset class="form-group">
							<input type="text" class="form-control"  formControlName="visit_date"/>
						</fieldset>
					</div> -->

				<div class="col-12 col-sm-6 col-lg-2">

					<div class="form-group">
						<label class="form-control-label" for="visit_date">{{'VISIT_DATE'|translate}}
							<span class="required-field">*</span>
						</label>
						<div class="input-group">
							<div class="input-group-append">
							<button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
								<i class="fa fa-calendar"></i>
							</button>
							</div>
							<input class="form-control" name="visit_date" formControlName="visit_date" ngbDatepicker
								id="visitDate" #d="ngbDatepicker">
						</div>
					</div>
				</div>

					<div class="col-12 col-sm-6 col-lg-2 d-flex align-items-center">
						<button type="submit" class="btn btn-primary btn-block users-list-clear">
							{{'SEARCH'|translate}}
						</button>&nbsp;
						<button type="reset" class="btn btn-warning btn-block users-list-clear" style="margin-top:initial" (click)="resetFilters()">
							{{'CLEAR'|translate}}
						</button>
					</div>
				</div>
			</form>
			</div>
		</div>
	</div>
	<!-- Filter ends -->
	<div class="row">
	<div class="col-12">
		<div class="card">
		<div class="card-header">
			<button type="button" class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right" (click)="reload()">
			<i class="ft ft-refresh-cw"></i>
			</button>
			<button type="button" class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right" title="Add Profile"
			[disabled]="loading" (click)="addNewRecord()" *ngIf='["RECEPTION_MODULE", "RECEP_VISIT_CREATE"]|authority'>
			<i class="ft ft-plus"></i>
			</button>

			<!-- <div class="col-md-3 col-3">
			<div class="form-group">
				<select #pageLength class="form-control" (change)="setPageLength(pageLength.value)">
				<option *ngFor=" let pl of pageLengths" [selected]="20">
					{{ pl.count }} {{ 'RECORDS' | translate }}
				</option>
				<option value="-1">{{ 'ALL' | translate }}</option>
				</select>
			</div>
			</div> -->
		</div>
		<div class="card-content">
			<div class="card-body">
			<ng-container *ngIf="tableOptions">
				<!-- ngx-datatables-server-side -->
				<ngx-datatable #table class="bootstrap core-bootstrap" [rows]="rows" [columns]="columns" [virtualization]="false"
					[columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="tableOptions.length"
					[loadingIndicator]="dataLoadingFlag" [scrollbarH]="true" (page)="setPage($event)" [reorderable]="reorderable" [swapColumns]="swapColumns"
					[externalPaging]="true" [externalSorting]="true" [count]="recordsTotal" [offset]="tableOptions.draw"
					[sorts]="[{prop: 'ID', dir: 'desc'}]" (sort)="onSort($event)">

					<ngx-datatable-column name="{{'ACTIONS'|translate}}" [width]="70" [sortable]="false">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<i class="ft-eye text-primary cursor-pointer mr-2" [routerLink]="['/reception/visits/' + row.ID]" *ngIf='["RECEPTION_MODULE", "RECEP_VISIT_VIEW"]|authority'></i>
							<i class="ft-edit text-primary cursor-pointer" [routerLink]="['/reception/visits/' + row.ID + '/edit']" *ngIf='["RECEPTION_MODULE", "RECEP_VISIT_EDIT"]|authority'></i>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="{{'STATUS'|translate}}" [width]="180" [sortable]="true">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<div class="badge badge-pill" [ngClass]="{'bg-light-success':row.VISIT_RESOLUTION == 'COMPLETED', 'bg-light-danger':row.VISIT_RESOLUTION == 'REJECTED' , 'bg-light-warning':row.VISIT_RESOLUTION == 'WAITING' }">
								{{ row.VISIT_STATUS|translate }} - {{ row.VISIT_RESOLUTION|translate }}
							</div>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="{{'STATUS'|translate}}" [width]="80" [sortable]="true">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<div class="badge badge-pill" [ngClass]="{'bg-light-success':row.STATUS == 'DONE', 'bg-light-danger':row.STATUS == 'REJECTED' , 'bg-light-warning':row.STATUS == 'WAITING' }">
								{{ row.STATUS|translate }}
							</div>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="{{'ID'|translate}}" prop="ID" [width]="100"></ngx-datatable-column>
					<ngx-datatable-column name="{{'DRIVER_NAME'|translate}}" prop="DRIVER_NAME"></ngx-datatable-column>
					<ngx-datatable-column name="{{'PLATE_NO'|translate}}" prop="VEHICLE_PLATE_NO"></ngx-datatable-column>
					<ngx-datatable-column name="{{'COLOR'|translate}}" prop="VEHICLE_COLOR"></ngx-datatable-column>
					<ngx-datatable-column name="{{'MODAL'|translate}}" prop="VEHICLE_MODAL"></ngx-datatable-column>
					<ngx-datatable-column name="{{'VISIT_DATE'|translate }}" prop="VISIT_DATE">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{row.VISIT_DATE | date: 'yyyy-MM-dd'|jalali}}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="{{'ENTRY_DATE'|translate }}" prop="ENTRY_DATE">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{row.ENTRY_DATE | date: 'yyyy-MM-dd'|jalali}}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="{{'VISIT_TIME'|translate}}" prop="VISIT_TIME"></ngx-datatable-column>
					<ngx-datatable-column name="{{'ENTRY_TIME'|translate}}" prop="ENTRY_TIME"></ngx-datatable-column>
					<ngx-datatable-column name="{{'VISITOR_COUNT'|translate}}" prop="VISITOR_COUNT"></ngx-datatable-column>
					<ngx-datatable-column name="{{'VISIT_CATEGORY'|translate}}" prop="VISIT_CATEGORY">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{row.VISIT_CATEGORY|translate }}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="{{'VISIT_TYPE'|translate}}" prop="VISIT_TYPE">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{row.VISIT_TYPE|translate }}
						</ng-template>
					</ngx-datatable-column>
				</ngx-datatable>
				<!--/ ngx-datatables-server-side -->
			</ng-container>
			</div>
		</div>
		</div>
	</div>
	</div>
</section>


<ngx-spinner class="loader" bdOpacity=0.3 bdColor="#f4f4f9" size="large" color="#b416f7" type="ball-spin-clockwise-fade"
	[fullScreen]="true">
</ngx-spinner>
