<div class="row">
	<div class="col-12">
	  <div class="content-header">{{ 'HR'|translate }}</div>
	</div>
</div>
<section>
	<div class="row">
		<div class="col-12">
			<div class="card-deck-wrapper">
				<div class="card-deck">
                    <div class="card col-lg-4 col-md-4 col-12 mb-2 mb-md-0" *ngIf='["HR_MODULE"]|authority'>
						<div class="card-content" style="cursor: pointer;" [routerLink]="['/hr/employees']">
							<div class="card-body">
								<h4 class="card-title"><i class="ft-clock fa-lg text-primary mr-2"></i>{{ 'EMPLOYEES'|translate }}</h4>
								<p class="card-text"></p>
							</div>
						</div>
					</div>
					<div class="card col-lg-4 col-md-4 col-12 mb-2 mb-md-0" *ngIf='["HR_MODULE"]|authority'>
						<div class="card-content" style="cursor: pointer;" [routerLink]="['/hr/timesheets']">
							<div class="card-body">
								<h4 class="card-title"><i class="ft-plus fa-lg text-primary mr-2"></i>{{ 'TIMESHEETS'|translate }}</h4>
								<p class="card-text"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
