<div class="row">
	<div class="col-sm-12">
		<webcam [height]="500" [width]="500" [trigger]="triggerObservable"
			(imageCapture)="handleImage($event)" *ngIf="showWebcam" [imageQuality]="1">
		</webcam>
	</div>
	<div class="col-md-12 text-center">
		<button type="button" class="btn btn-outline-success btn-icon mr-1 mb-1"
		(click)="triggerSnapshot();"><i class="ft ft-maximize"></i></button>
		<button class="btn btn-outline-warning btn-icon mr-1 mb-1" type="button" (click)="dismiss()">{{ 'CLOSE' | translate }}</button>
	</div>
	<div class="col-sm-12">
		<div class="snapshot  text-center" *ngIf="webcamImage">
			<img [src]="webcamImage.imageAsDataUrl" class="photo users-avatar-shadow rounded" />
		</div>
	</div>
</div>